---
BasedOnStyle: Google
Standard: Cpp11
IndentWidth: 2
ColumnLimit: 80
DerivePointerAlignment: false
PointerAlignment: Left
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: Align
BinPackArguments: false
...
